body {
  padding: 0px;
  margin: 0px;
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: black;
  opacity: 60%;
  padding-bottom: 3.5vh;
}

a:hover {
  opacity: 100%;
  cursor: pointer;
  border-bottom: 5px solid rgb(50, 209, 110);
}

header {
  display: flex;
  justify-content: space-around;
  height: 10vh;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  flex-basis: 33vw;
}

nav {
  flex-basis: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  padding: 1vw;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: white;
  border: none;
  border-radius: 3vw;
  padding-left: 2vw;
  padding-right: 2vw;
  cursor: pointer;
}

.button button {
  background: linear-gradient(90deg, rgb(119, 212, 106), #55bacf);
  border-radius: 2rem;
  width: 40%;
  color: white;
  border: none;
  height: 7vh;
  font-weight: 700;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-nav {
  display: none;
}

#navigations-hamberger {
  display: none;
}

.closeImg {
  display: none;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li:hover {
  color: rgb(50, 209, 110);
  cursor: pointer;
}
/*********************************** main ******************************/

main {
  height: auto;
}
.main-content {
  background-color: #fafafa;
  display: flex;
  height: 60vh;
}

.left-content {
  flex-basis: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left-content h1 {
  font-size: 4.5rem;
  margin: 0;
  padding-inline: 9.7vw;
  opacity: 70%;
}

.left-content p {
  padding-inline: 10vw;
  font-size: 1.45rem;
  font-weight: 300;
  opacity: 70%;
}
.left-content .button {
  align-self: flex-start;
  margin-left: 9.7vw;
}

.right-content {
  background-image: url("images/bg-intro-desktop.svg");
  flex-basis: 50vw;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: none;
  background-position: top -18vh right -12vh;
  display: flex;
  justify-content: flex-end;
}

#mockups {
  width: 51vw;
  height: 106vh;
  object-position: 15vh -14vh;
}
.menu-content {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 9.7vw;
  padding-right: 9.7vw;
  background-color: #f3f5f7;
  padding-top: 18vh;
}

.top-content h2 {
  font-size: 3rem;
  font-weight: 200;
  margin: 0;
  opacity: 70%;
}
.top-content p {
  font-size: 1.45rem;
  font-weight: 300;
  opacity: 70%;
}
.bottom-content {
  display: flex;
  justify-content: space-between;
}

.card {
  flex-basis: 20rem;
  margin-top: 5vh;
}
.card-pic {
  width: 5.5rem;
}
.card-heading {
  margin: 2.35rem 0rem;
  opacity: 60%;
  font-weight: 500;
}
.card-para {
  margin: 0px;
  line-height: 2rem;
  opacity: 35%;
  font-weight: 600;
}

.articles {
  height: 90vh;
  padding-inline: 9.7vw;
  background-color: #fafafa;
}

.article-cards {
  display: flex;
  justify-content: space-between;
}

.article-card {
  flex-basis: 18vw;
  height: 55vh;
  border-radius: 3%;
  background-color: white;
}
.article-card img {
  width: 18vw;
  height: 25vh;
  border-radius: 3% 3% 0% 0%;
}
.articles h1 {
  margin: 0%;
  padding-top: 12vh;
  padding-bottom: 6.5vh;
  font-size: 3rem;
  font-weight: 300;
  opacity: 60%;
}

.article-info {
  margin-inline: 1.5rem;
}

.article-author {
  font-size: small;
  opacity: 60%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.article-heading {
  font-size: x-large;
  opacity: 70%;
  margin: 0;
}

.article-heading:hover {
  color: rgb(50, 209, 110);
  cursor: pointer;
}

.article-discription {
  margin-top: 0.66rem;
  opacity: 50%;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-inline: 9.7vw;
  height: 20vh;
  background-color: hsl(233, 26%, 24%);
}

.footer #easy-bank-logo {
  background-color: white;
}

.footer-left {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  flex-grow: 1;
}
.footer-middle {
  flex-grow: 1;
}

.social-media-icons {
  display: flex;
  column-gap: 1vw;
}

.social-media-icons svg path:hover {
  fill: rgb(50, 209, 110);
  cursor: pointer;
}

.footer-lists {
  color: white;
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 10vw;
  line-height: 4vh;
}

.footer-lists li:hover {
  color: rgb(50, 209, 110);
  cursor: pointer;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 2;
  row-gap: 20px;
}

.request-invite {
  padding: 1vw;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: white;
  border: none;
  border-radius: 3vw;
  padding-left: 2vw;
  padding-right: 2vw;
  cursor: pointer;
}

#copyright {
  color: #7d7d82;
}

@media screen and (max-width: 480px) {
  .desktop-nav {
    display: none;
  }

  .desktop-nav-button {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  height,
  nav {
    padding-inline: 10vw;

    display: flex;

    justify-content: space-between;
  }

  #navigations-hamberger {
    /* display: flex; */

    justify-content: center;

    position: absolute;

    top: 11vh;

    background-color: white;

    width: 80vw;

    height: 35vh;

    border-radius: 1.5vw;

    transform: scale(0.95);

    box-shadow: 0px -1px 117px 33vh #00000069;
  }

  .mobile-nav-list {
    display: flex;

    flex-direction: column;

    justify-content: space-evenly;

    padding: 0px;

    font-size: 1.2rem;

    font-weight: 600;
  }

  a {
    padding-bottom: 1vh;
  }

  .main-content {
    display: flex;

    flex-direction: column;

    height: auto;
  }

  .right-content {
    background-image: url(images/bg-intro-mobile.svg);

    background-repeat: no-repeat;

    background-size: cover;

    object-fit: none;

    background-position: top -15vw right 0vw;

    display: flex;

    width: 100vw;

    justify-content: center;
  }

  #mockups {
    width: 90vw;

    height: auto;

    object-position: 0vw -32vw;
  }

  .left-content {
    order: 2;

    display: flex;

    justify-content: center;

    margin-top: -11vh;

    padding-bottom: 10vh;
  }

  .left-content h1 {
    font-size: 2.5rem;

    padding-inline: 10vw;

    font-weight: 200;

    text-align: center;
  }

  .left-content p {
    padding-block: 2vh;

    padding-inline: 10vw;

    font-size: 0.9rem;

    line-height: 1.5rem;

    font-weight: 300;

    opacity: 40%;

    text-align: center;
  }

  .left-content .button {
    align-self: center;

    padding: 1.5vh 13vw;

    border-radius: 5vw;

    margin-left: 0;
  }

  .menu-content {
    flex-direction: column;

    height: auto;

    padding-top: 7vh;
  }

  .top-content h2 {
    font-size: 2.5rem;

    font-weight: 200;

    margin: 0;

    opacity: 60%;

    text-align: center;
  }

  .top-content p {
    font-size: 0.9rem;

    line-height: 1.5rem;

    opacity: 40%;

    text-align: center;

    padding-block: 2vh;
  }

  .bottom-content {
    flex-direction: column;

    margin-top: 1vh;

    margin-bottom: 10vh;
  }

  .card {
    display: flex;

    flex-direction: column;

    align-items: center;

    margin-top: 4vh;
  }

  .card-para {
    text-align: center;
  }

  .articles {
    height: auto;

    padding-bottom: 8vh;
  }

  .articles h1 {
    margin: 0%;

    padding-top: 10vh;

    padding-bottom: 5vh;

    font-size: 2.5rem;

    font-weight: 300;

    opacity: 60%;

    text-align: center;
  }

  .article-cards {
    flex-direction: column;

    height: auto;
  }

  .article-card img {
    width: 80vw;
  }

  .article-card {
    margin-bottom: 3vh;

    height: auto;
  }

  .footer {
    flex-direction: column;

    height: auto;

    padding-block: 6vh;
  }

  .footer-lists {
    flex-direction: column;

    line-height: 5vh;

    font-size: 0.9rem;

    font-weight: 300;

    padding-left: 0;

    text-align: center;
  }

  .footer-right {
    align-items: center;

    margin-bottom: 1vh;
  }

  .footer-left {
    display: flex;

    flex-direction: column;

    row-gap: 5vh;

    align-items: center;

    justify-content: center;
  }

  .social-media-icons {
    display: flex;

    column-gap: 5vw;

    justify-content: space-between;
  }

  .request-invite {
    align-self: center;

    padding: 1.5vh 13vw;

    border-radius: 5vw;

    margin-left: 0;
  }

  #copyright {
    font-size: 0.9rem;
  }
}
